/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
@charset "utf-8";

/*输入框*/
input {
  padding:2px;
  vertical-align:middle;
  }

/*文字间隔符号|*/
.lsep {
  color:#CCCCCC;
  font-size:110%;
  margin:0 2px;
}

a {
/*  color:#2F688C;*/
  outline:medium none;
  text-decoration:none;
}
a img { border: none; padding: 0; margin: 0; }
/*a:hover, a:active  { color: #fff; background: #000; }*/

/*body {
  font:14px/19px tahoma,Geneva,sans-serif;
}*/

html, body {
  height: 100%;
}

p {
  margin: 1em 0;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #865018;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 200%;
  text-align: justify;
  min-width: 40em;
  max-width: 60em;
  margin: 2em auto 2em auto;
  line-height: 1.5em;
}

#site_title{
color: #a00;
font-weight: bold;
margin-bottom: 2em;
font-family: 'Yanone Kaffeesatz', arial, serif; 
letter-spacing: -1px; 
margin: 0;
float: left; 
text-shadow: 4px 4px 4px #aaa;
}

  /*.site .title a {*/
    /*color: #a00;*/
    /*text-decoration: none;*/
  /*}*/

  /*.site .title a.extra {*/
    /*color: #aaa;*/
    /*text-decoration: none;*/
    /*margin-left: 1em;*/
  /*}*/

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
/*    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;*/
      background:url(black.gif);
      border-radius:4;
  }

  #post ul,
  #post ol {
    margin-left: 1.25em;
  }

  #post code {
/*    border: 1px solid #ddd;*/
    /*background-color: #eef;
    font-size: 95%;*/
/*    padding: 0 .2em;*/
      font-family: Monaco, DejaVu Sans YuanTi Mono, DejaVu Sans Mono, monospace;
      
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }

/*disqus*/
#disqus_thread {
    margin-top: 0.5em;
    border-top; 3px "solid" #eee;
    padding-top: 0em;
    }

#dsq-content .dsq-options {
    background: none;
}


/* Mine */
body {
    /*background-color:#a4e8a0;*/
    color:#fff;
    font-family:ZhunYuan;
    font-size:16px;
    font-style:normal;
    white-space:normal;
}

#site_title
{
    color: #45A537;
}
a
{
    /*color: #128f0c;*/
    color: #6AAC5C;
    text-shadow: #2c5922 1px 1px 1px;
}

a:hover
{
    color:#A95A8D;
    text-shadow: #521F41 1px 1px 1px;
}

body
{
    color:#333;
}
.span-24 {width:950px;margin-right:0;}
