body
{
    color: #fff;
    text-align:center;
    background:#2c5922 url(dewdrop.jpg) top center no-repeat;
    background-attachment:fixed;
}
#header
{
    width:90%;
    margin-right:auto;
    margin-left:auto;
    height:60px;
    text-align:left;
    padding:0;
}
#contain
{
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}
#containBg
{
    float: left;
    width: 100%;
/*    text-align: center;*/
    padding: 0;
    background-image:url(black.gif);
    border-radius:10px;
}
#innerPage
{
    margin: 20px;
    margin-right:auto;
    margin-left: auto;
    width: 97%;
}
#mainNav
{
    float:left;
    /*border:1px solid #000;
    border-bottom-width:0;*/
    width:19%;
    text-align:left;
    margin:2px 2px 0 0;
}
#mainNav div.widget
{
    float: left;
    width:100%;
    text-align: left;
    padding:0;
    background:url(black.gif);
    border-radius:5px;
}

#mainNav div {
    width:100%;
    list-style-type:none;
    font-family:ZhunYuan;
    margin:0;
    padding:0;
/*border-bottom:1px solid #000;*/
}

#mainNav div span
{
    border-bottom:1px solid #91f98c;
}

#mainNav div.widget h2
{
    color: #fff;
    font-size: 1.2em;
}

#mainNav div.widget ul
{
    width:100%;
    list-style-type:none;
    font-family:ZhunYuan;
    margin:0;
    padding:0;
    border-top:1px dotted #2C5922;
    margin-top:-1px;
}

#mainNav div.widget ul li {
    display:block;
    margin:0;
    padding:0;
    /*height:1.5em;
    line-height:1.5em;*/
    text-decoration:none;
    color:#FFF;
    /*background-color:#45A537;
    border-bottom:1px solid #91f98c;
    border-left:7px solid #27ae20;*/
    margin:0;
    padding:0 0 0 1em;
}

#mainNav div.widget li a {
    display:block;
    border-top:1px dotted #2C5922;
    /*height:1.5em;
      line-height:1.5em;
      text-decoration:none;*/
/*    color:#FFF;*/
/*  background-color:#2175bc;
    border-bottom:1px solid #90bade;
    border-left:7px solid #1958b7;
    margin:0;
    padding:0 0 0 1em;*/
}

#mainNav li a:hover {
    /*background-color:#68D268;
    border-left-color:#68D268;*/
}

#mainNav ul#main
{
    width:100%;
    list-style-type:none;
    font-family:ZhunYuan;
    padding:0;
    /*border-top:1px dotted #2C5922;
    margin-top:-1px;*/
}
#mainNav ul#main li.widget
{
    margin-top:20px;
    margin-bottom:20px;
/*    padding-bottom:20px;*/
}
#mainNav h2.menutitle {
    width:100%;
    text-indent:1em;
    color:#FFF;
    border-bottom:1px solid #000;
    background-color:#000;
    font-family:ZhunYuan;
    margin:0;
    padding:0;
}

#other {
    float:right;
    width:78%;
    text-align:left;
    margin:2px 0;
    padding:0;
}

#footer {
    clear:both;
    width:90%;
    margin-right:auto;
    margin-left:auto;
    height:60px;
    padding:0;
}
